{% extends 'base.html' %}
{% block content%}


    <div class = "bg_pic">
        <div class = col-6 row-100>
         
        <h1>Take it Easy On Me...</h1><br>
        <h4>This class is closely related to a "gentle hatha."
            We will be sure to warm up the joints and limbs before stretching them out.
            If you had a long stressful week this class is for you.
            Perhaps you have been going pretty hard in the gym and you're feeling worn.
            You're ready to hit a recovery week with this class.
        </h4>
    
    <h1><span>Make Me Work!</span></h1><br>
    <h4>This class can be tossed around with words like 
        "strenthening or power" yoga. It will push you. We will be
        doing plenty of vinyasa, therefore pushups and plank holds.
        We will also be implementing some lowerbody sculpting with some
        lunges and/or squats. If at anytime it gets too tough for you,
        you can hang back in childs pose and join us when you're ready.
        Of course after the yin comes the yang. We will follow up with some deep
        stretches to relax the muscles. You will for sure be leaving feeling like
        a million bucks.
    </h4>

    <h1>FREE</h1>
    <h4>First Couple Classes With Me Are Free</h4><br>
       <h3> <a href="{{ url_for('auth.display') }}" >Check out a Free Custom Sequence</a></h3>
       <h3> <a href="https://calendly.com/mcrinacervantes/15min" >Schedule</a></h3>
    </div>
    </div>
    {% endblock content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>